In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [23]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
980,tt1217209,185000000,538983207,Brave,Kelly Macdonald|Julie Walters|Billy Connolly|E...,Mark Andrews|Steve Purcell|Brenda Chapman,Change your fate.,Brave is set in the mystical Scottish Highland...,93,Animation|Adventure|Comedy|Family|Action,Walt Disney Pictures|Pixar Animation Studios,6/21/2012,6.6,2012
1098,tt0307987,23000000,76488889,Bad Santa,Billy Bob Thornton|Tony Cox|Brett Kelly|Lauren...,Terry Zwigoff,He doesn't care if you're naughty or nice.,A miserable conman and his partner pose as San...,91,Drama|Comedy|Crime,Columbia Pictures|Dimension Films (US version),11/25/2003,6.2,2003
1149,tt0309530,35000000,20298207,Down with Love,RenÃ©e Zellweger|Ewan McGregor|Sarah Paulson|D...,Peyton Reed,The ultimate catch has met his match,"Aaaah... it's New York City in 1962, and love ...",101,Action|Comedy|Romance|Thriller,Regency Enterprises|Fox 2000 Pictures|Epsilon ...,5/8/2003,6.0,2003
1661,tt0315824,50000000,6808550,The Big Bounce,Owen Wilson|Morgan Freeman|Gary Sinise|Sara Fo...,George Armitage,It's all in who you trust,A small-time con artist and a Hawaiian real es...,88,Comedy|Crime,Warner Bros. Pictures|Shangri-La Entertainment...,1/30/2004,4.9,2004
338,tt1013752,85000000,363164265,Fast & Furious,Vin Diesel|Paul Walker|Jordana Brewster|Michel...,Justin Lin,New Model. Original Parts.,"When a crime brings them back to L.A., fugitiv...",107,Action|Crime|Drama|Thriller,Universal Pictures|Original Film|One Race Prod...,4/2/2009,6.4,2009

In [24]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [19]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [45]:
# тут пишем ваш код для решения данного вопроса:
answers['1']  = data.groupby(['budget'])['original_title'].max()
display(answers['1'])

{'1': budget
 5000000                                       Wonderland
 5500000                                   Predestination
 6000000                              We Are Your Friends
 6400000                                       Young Adam
 6500000                                      The Pyramid
                                 ...
 258000000                                   Spider-Man 3
 260000000                                        Tangled
 280000000                        Avengers: Age of Ultron
 300000000       Pirates of the Caribbean: At World's End
 380000000    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, Length: 203, dtype: object}

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [48]:
answers['2'] = data.groupby(['runtime'])['original_title'].max()
display(answers['2'])

runtime
63                                   Winnie the Pooh
72                                 The Jungle Book 2
76                                           Valiant
77                                      Corpse Bride
78                          The Emperor's New Groove
                           ...
183                                     Pearl Harbor
187                                        King Kong
191                                       Grindhouse
201    The Lord of the Rings: The Return of the King
214                                Gods and Generals
Name: original_title, Length: 105, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [49]:
answers['3'] = data.groupby(['runtime'])['original_title'].min()
display(answers['3'])

runtime
63                                   Winnie the Pooh
72                              Return to Never Land
76                                 Home on the Range
77                                      Corpse Bride
78                                   Stuart Little 2
                           ...
183                                     Pearl Harbor
187                                        King Kong
191                                       Grindhouse
201    The Lord of the Rings: The Return of the King
214                                Gods and Generals
Name: original_title, Length: 105, dtype: object

# 4. Какова средняя длительность фильмов?

In [64]:
answers['4'] = data['runtime'].mean()
round(answers['4'])

110

# 5. Каково медианное значение длительности фильмов?

In [65]:
answers['5'] = data['runtime'].median()
round(answers['5'])

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [87]:
# лучше код получения столбца profit вынести в Предобработку что в начале
profit = []
data['profit'] = data['revenue'] - data['budget']
answers['6'] = data.groupby(['profit'])['original_title'].max()
display(answers['6'])

profit
-165710090                  The Lone Ranger
-119180039                        The Alamo
-111007242                  Mars Needs Moms
-92896027      The Adventures of Pluto Nash
-84540684                      Flushed Away
                           ...
 1299557910                    The Avengers
 1316249360                       Furious 7
 1363528810                  Jurassic World
 1868178225    Star Wars: The Force Awakens
 2544505847                          Avatar
Name: original_title, Length: 1881, dtype: object

# 7. Какой фильм самый убыточный?

In [88]:
answers['7'] = data.groupby(['profit'])['original_title'].min()
display(answers['7'])

profit
-165710090                  The Lone Ranger
-119180039                        The Alamo
-111007242                  Mars Needs Moms
-92896027      The Adventures of Pluto Nash
-84540684                      Flushed Away
                           ...
 1299557910                    The Avengers
 1316249360                       Furious 7
 1363528810                  Jurassic World
 1868178225    Star Wars: The Force Awakens
 2544505847                          Avatar
Name: original_title, Length: 1881, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [101]:
answers['8'] = data.original_title [(data.revenue > data.budget)]

display(answers['8'])

0                     Jurassic World
1                 Mad Max: Fury Road
2                          Insurgent
3       Star Wars: The Force Awakens
4                          Furious 7
                    ...
1871               Keeping the Faith
1875                         The Kid
1877               Love & Basketball
1883                    Return to Me
1884                           X-Men
Name: original_title, Length: 1478, dtype: object

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [170]:
answers['9'] = data[data['release_year'] == 2008].groupby(['revenue'])['original_title'].max()
answers['9']

revenue
2033165                                       Mutant Chronicles
3533227                                 The Midnight Meat Train
5530764                                      The Brothers Bloom
5926410                                           Transsiberian
6673422                                      What Just Happened
                                    ...
609841637                                            Mamma Mia!
624029371                                               Hancock
631744560                                         Kung Fu Panda
786636033     Indiana Jones and the Kingdom of the Crystal S...
1001921825                                      The Dark Knight
Name: original_title, Length: 121, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [228]:
profit = []
data['profit'] = data['revenue'] - data['budget']
answers['10'] = data[data['release_year'].between(2012, 2014)].groupby(['profit'])['original_title'].min()
answers['10']

profit
-165710090                     The Lone Ranger
-68351500                             R.I.P.D.
-51893525                          Upside Down
-51337973      Legends of Oz: Dorothy's Return
-45510171                   Bullet to the Head
                            ...
 894761885                     Despicable Me 2
 908561013                             Skyfall
 1015439994                         Iron Man 3
 1124219009                             Frozen
 1299557910                       The Avengers
Name: original_title, Length: 367, dtype: object

# 11. Какого жанра фильмов больше всего?

In [209]:
answers['11'] = data['genres'].value_counts()
answers['11']
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

Comedy                                     141
Drama                                      102
Comedy|Romance                              60
Drama|Romance                               45
Horror|Thriller                             35
                                          ...
Crime|Thriller|Horror                        1
Horror|Action|Thriller                       1
Science Fiction|Mystery|Thriller             1
Horror|Comedy|Romance                        1
Action|Fantasy|Science Fiction|Thriller      1
Name: genres, Length: 652, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [217]:
data12 = data.copy()
data12 = data12[data.revenue > data.revenue.mean()]
data12.genres = data12.genres.str.split('|')
data12 = data12.explode('genres')
data12.genres.value_counts()

Action             242
Adventure          222
Comedy             196
Drama              156
Thriller           151
Family             130
Fantasy            123
Science Fiction    118
Animation           86
Romance             76
Crime               69
Mystery             43
Horror              23
War                 19
History             15
Music               14
Western              6
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [221]:
answers['13'] = data.groupby(['revenue'])['director'].max()
answers['13']

revenue
2033165           Simon Hunter
2054941           Keanu Reeves
2062066          Paul Schrader
2106557             Simon West
2281089       Steven Shainberg
                    ...
1506249360           James Wan
1513528810     Colin Trevorrow
1519557910         Joss Whedon
2068178225         J.J. Abrams
2781505847       James Cameron
Name: director, Length: 1885, dtype: object

# 14. Какой режисер снял больше всего фильмов в стиле Action?

Series([], Name: director, dtype: int64)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)